.Nav {
  height: 7vh;
  display: flex;
  justify-content: space-between;

  .navLogo {
    width: 156px;
    font-size: 130%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .navRightBar {
    width: 102px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}