@import "mixin";

#board-wrapper {
  @include bg-color;
  height: 90vh;
  display: flex;
  flex-direction: column;
  #content-wrapper {
    flex: 8 1 0;
    @include flex-center;
    #board-table {
      margin: 0;
      padding: 0;
      width: 92%;
      height: 76vh;
      font-size: 170%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .tr-link {
        color: #000000;
        text-decoration: none;
      }
      .subject-board-tr {
        display: flex;
        height: 6vh;
        font-size: 24px;
        font-weight: bold;
        @include text-color;
        #subject-board-num {
          flex: 2 1 0;
          @include text-bold-center;
        }
        #subject-board-subject {
          flex: 10 1 18px;
          @include text-bold-center;
        }
        #subject-board-writer {
          flex: 2 1 0;
          @include text-bold-center;
        }
        #subject-board-date {
          flex: 3 1 0;
          @include text-bold-center;
        }
      }
      .board-tr {
        margin: 5px 0;
        background-color: #ffffff;
        display: flex;
        height: 6vh;
        border-radius: 8px;
        font-size: 24px;
        cursor: pointer;
        &:hover {
          @include hover-color;
        }

        #board-num {
          flex: 2 1 0;
          @include flex-center;
        }
        #board-subject {
          flex: 10 1 0;
          padding: 0 0 0 20px;
          display:flex;
          align-items: center;
        }
        #board-writer {
          flex: 2 1 0;
          @include flex-center;
        }
        #board-date {
          flex: 3 1 0;
          @include flex-center;
        }
      }
    }
  }
  #board-pagination-wrapper {
    margin: 0;
    padding: 0 0 20px 0;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include text-color;
    & > li {
      margin: 0 10px;
      list-style-type: none;
      font-size: 20px;
      cursor: pointer;
    }
    #clickedColor {
      font-size: 27px;
      font-weight: bold;
    }
  }
}