@import "mixin";

#comments-wrapper {
  border-top: 1px #000000 solid;
  padding: 0 76px;
  height: 36.5vh;
  display : flex;
  flex-direction: column;
  #comment-main-wrapper {
    flex: 9 1 0;
    display: flex;
    #no-comments {
      flex: 4.4 1 0;
      font-size: 20px;
      color: #adb5bd;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & > p {
        margin: 5px;
      }
    }
  }
  #comment-pagination-wrapper {
    margin: 0;
    padding: 0 0 20px 0;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include text-color;
    & > li {
      margin: 0 10px;
      list-style-type: none;
      font-size: 20px;
      cursor: pointer;
    }
    #clickedColor {
      font-size: 27px;
      font-weight: bold;
    }
  }
}