@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#comments-wrapper {
  border-top: 1px #000000 solid;
  height: 36.5vh;
  display : flex;
  flex-direction: column;
  #comment-main-wrapper {
    flex: 9 1 0;
    padding: 0 0 0 10px;
    display: flex;
    #no-comments {
      flex: 4.4 1 0;
      font-size: 20px;
      color: #868e96;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & > p {
        margin: 5px;
      }
    }
  }
  #comment-pagination-wrapper {
    padding: 0;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    & > li {
      margin: 0 10px;
      list-style-type: none;
      font-size: 25px;
      cursor: pointer;
    }
    .FL-pagination {
      color: #868e96;
    }
    #clickedColor {
      color: #2196F3;
      font-weight: bold;
    }
  }
}