@import "mixin";

#CD-loading-wrapper {
  height: 80vh;
}
#CD-wrapper {
  #CD-button-box {
    margin: 0 0 0 77px;
    width: 92%;
    height: 8vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    & > button {
      @include button-design;
      &:nth-last-child(1) {
        margin: 0 0 0 15px;
      }
    }
  }
}