@import "mixin";

#CC-wrapper {
  padding: 0 76px 76px 76px;
  height: 82vh;
  display: flex;
  #CC-left-wrapper {
    margin: 0 15px 0 0;
    flex: 3 1 0;
    display: flex;
    flex-direction: column;
    #CC-subject {
      flex: 1 1 0;
      display: flex;
      align-items: center;
      & > div {
        flex: 1 1 0;
        font-size: 25px;
        @include text-color;
        @include text-bold-center;
      }
      & > input {
        flex: 9 1 0;
        height: 60px;
        border: none;
        border-radius: 5px;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        &::placeholder {
          font-weight: normal;
        }
      }
    }
    #CC-content {
      padding: 15px;
      font-size: 20px;
      flex: 7 1 0;
      border: none;
      border-radius: 5px;
      resize: none;
    }
  }
  #CC-right-wrapper {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    #CC-file-box {
      border: 1px #5f9ea0 dashed;
      height: 85%;
      border-radius: 5px;
      margin: 15px 0 0 0;
      padding: 15px;
      @include flex-center;
      & > p {
        @include text-color;
        font-weight: bold;
      }
      #fileInput {
        display: none;
      }
      #CC-file-img {
        border: 3px #ffffff solid;
        max-width: 380px;
      }
    }
    #CC-submit {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      #fileInput-button {
        @include button-design;
        margin: 0 15px;
      } 
      & > button {
        @include button-design;
      }
    }
  }
}