@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#CC-wrapper {
  padding: 10px;
  height: 92vh;
  display: flex;
  flex-direction: column;
  #CC-subject {
    border-bottom: 1px #000000 solid;
    flex: 1 1 0;
    display: flex;
    align-items: center;
    & > div {
      flex: 1 1 0;
      font-size: 25px;
      font-weight: bold;
      @include flex-center;
    }
    & > input {
      flex: 9 1 0;
      height: 35px;
      border: none;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      &:focus { outline: none; }
    }
  }
  #CC-content {
    padding: 15px;
    font-size: 20px;
    flex: 7 1 0;
    border: none;
    resize: none;
    &:focus { outline: none; }
  }
  #CC-file-box {
    border: 1px #000000 dashed;
    flex: 1 1 0;
    margin: 15px 0 0 0;
    padding: 15px;
    display: flex;
    align-items: center;
    #CC-file-img {
      height: 70px;
      margin: 0 20px 0 0;
    }
  }
  #CC-submit {
    flex: 1 1 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    & > button {
      width: 150px;
      height: 40px;
      border: 1px #868e96 solid;
      border-radius: 5px;
      font-size: 15px;
      font-weight: blod;
      background-color: #ffffff;
      cursor: pointer;
      &:hover {
        background-color: #f1f3f5;
      }
      &:focus { outline: none; }
    }
  }
}