@import "mixin";

body {
  margin: 0 auto;
  font-family: 'NotoSansKR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include bg-color;
}

input:focus,
textarea:focus,
button:focus {
  outline: none; 
}