@mixin JC-button {
  border: none;
  font-weight: bold;
  background-color: #ffffff;
  cursor: pointer;
}

#JC-wrapper {
  margin: 0 auto;
  padding: 20px;
  width: 450px;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & > div {
    margin: 7px 0;
    font-size: 30px;
  }
  & > input {
    width: 380px;
    height: 40px;
    border-radius: 5px;
    padding: 0 5px;
  }
  .JC-inputBtn-box {
    & > input {
      width: 380px;
      height: 40px;
      font-size: 16px;
      border-radius: 5px;
      padding: 0 5px;
    }
    & > button {
      margin: 15px 0 0 294px;
      width: 100px;
      height: 4vh;
      border: 1px #868e96 solid;
      border-radius: 5px;
      font-size: 15px;
      font-weight: blod;
      background-color: #ffffff;
    }
    .JC-icons {
      margin: 3px 0 0 5px;
      font-size: 35px;
      vertical-align: middle;
    }
  }
}