#LM-wrapper {
  position: fixed;
  left: 85%;
  width: 230px;
  height: 140px;
  padding: 20px;
  border: 1px #dee2e6 solid;
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  & > input {
    height: 25px;
    border-radius: 5px;
    padding: 0 5px;
  }
  #LM-btnBox {
    display: flex;
    justify-content: flex-end;
    & > .LM-btn {
      margin: 0 0 0 5px;
      border: none;
      font-weight: bold;
      background-color: #ffffff;
      color: #000000;
      text-decoration: none;
      cursor: pointer
    }
  }
}