@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin text-bold-center {
  @include flex-center;
  font-weight: bold;
}

@mixin bg-color {
  background-color: #f4f9f9;
}

@mixin hover-color {
  background-color: #bedcd7;
}

@mixin text-color {
  color: #5f9ea0;
}

@mixin button-design {
  width: 100px;
  height: 50px;
  background-color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  @include text-color;
  @include flex-center;
  &:hover {
    @include hover-color;
  }
}