@import "mixin";

#modify-comment-wrapper {
  margin: 24px 0 20px 15px;
  height: 235px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  & > textarea {
    flex: 1 1 0;
    width: 252px;
    margin: 0 0 15px 0;
    padding: 15px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    resize: none;
  }
  #modify-btn-wrapper {
    display: flex;
    & > button {
    @include button-design;
      &:nth-last-child(1) {
        margin: 0 0 0 15px;
      }
    }

  }
}