#not-found {
  background-color: #ffffff;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #errorIcons {
    font-size: 40px;
    color: #808080;
  }
  & > p {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
  }
}