@import "mixin";

#RD-text {
  width: 100%;
  height: 85vh;
  display: flex;
  @include flex-center;
  & > p {
    @include text-color;
    margin: 15px;
    font-size: 25px;
    font-weight: bold;
  }
}