@mixin center-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  border: 1px red solid;
  height: 10vh;
  @include center-position()
}

#home-container {
  margin: 0;
  padding: 5px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

@media screen and (min-width: 940px) {
  #home-container {
    width: 940px;
    margin: 0 auto;
  }
}
