#MD-container {
  #MD-info-container {
    // border: 1px red solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    #MD-info-img {
      width: 230px;
      height: 345px;
      margin: 20px 0;
    }
    #MD-info-script {
      width: 350px;
      font-size: 110%;
      #MD-info-genres > span {
        margin: 0 0 0 3px;
      }
    }
  }
  #MD-description {
    margin: 15px 0;
    padding: 0 13px;
  }
}