li {
  list-style-type: none;
  .home-movie {
    margin: 5px;
    width: 170px;
    height: 295.65px;
    color: #000000;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & > div {
      font-size: 20px;
      overflow: hidden;
    }
  }
}
